.icones{
    width: 40%;
    gap: 100px;
    display: flex;
    flex-direction: column; 
    margin-left: 4%;
}

.icones img{
    max-width: 100%;
    height: auto;
}

.carro {
  background-color: white;
  border: solid black 4px;
  border-radius: 50%;
}

.aviao {
  background-color: white; 
  border: solid black 4px;
   border-radius: 50%;
}

.musica {
  background-color: white; 
  border: solid black 4px;
   border-radius: 50%;
}

.curriculo {
  background-color: white; 
  border: solid black 4px;
   border-radius: 50%;
}

body{
    margin: 0; 
    min-height: 100vh; 
    background: linear-gradient(rgb(11, 11, 11), rgb(52, 50, 50));
}

.menu{
    justify-content: center;
    gap: 100px;
}

ul{
    display: flex;
    justify-content: space-between;
    font-size: 150%;
    color: white;
    list-style-type: none;
}

.estrutura{
    display: flex;
    max-width: 90%;
    gap: 32%;
    height: large;
    margin-top: 5%;
}

.estrutura p{
    text-align: justify;
    max-width: 100%;
    font-size: 30px;
}

.kaio{
    display: flex;
    width: 50%;
    height: 30%;
    border-radius: 60%;
    margin: auto;
    border: solid black 3px;
}

.texto{
    margin-right: 30%;
    
}

.palavra-link {
  color: white;
  cursor: pointer;
  text-decoration: underline;
  position: relative; /* Importante para posicionar a aba corretamente */
  display: inline-block;
  text-decoration: none;
}

/* Estilo da "aba" que começa escondida */
.aba-flutuante {
  display: none; /* Esconde a aba por padrão */
  position: absolute;
  top: 100%; /* Faz a aba aparecer logo abaixo da palavra */
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 8px;
  width: 250px;
  z-index: 10; /* Garante que ela fique por cima de outros textos */
  background: linear-gradient(black,gray);
}

.palavra-link:hover .aba-flutuante {
  display: block;
}
